!!! 5
%html
%head
	%title pin Board
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%board
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "噗噗牆", root_path

			-if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "新噗一個", new_pin_path
					%li= link_to "我的帳號", edit_user_registration_path
					%li= link_to "登出", destroy_user_session_path
			-else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "註冊", new_user_registration_path
					%li= link_to "登入", new_user_session_path
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"
		= yield

