!!! 5
%html
%head
	%title pin Board
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-brand= link_to "史上最厲害的美髮噗噗牆", root_path

			-if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to raw('<i class="fa fa-pencil-square-o fa-2x"></i>'), new_pin_path
					%li= link_to raw('<i class="fa fa-user fa-2x"></i>'), edit_user_registration_path
					%li= link_to raw('<i class="fa fa-sign-out fa-2x"></i>'), destroy_user_session_path, method: :delete
			-else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "註冊", new_user_registration_path
					%li= link_to "登入", new_user_session_path
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"
		= yield

